extends layout

block container.container
    .hero-unit
      h1 欢迎来到 Microblog
      p Microblog 是一个基于 Node.js 的微博系统。
      p
        a.btn.btn-primary.btn-large(href="/login") 登录
        a.btn.btn-large(href="/reg") 立即注册
    .row
      .span4
        h2 Fraky 说
        p 煮熟的鸭子飞了
      .span4
        h2 Mike 说
        p
          | 煮熟的鹅飞了
      .span4
        h2 Leven 说
        p
          | 你们净想着吃
